.triangle-up{
	width: 0; 
  height: 0; 
  border-left: 8px solid white;
  border-right: 8px solid white;
  
  border-bottom: 8px solid transparent;
}

.triangle-down{
	width: 0; 
  height: 0; 
  border-left: 8px solid white;
  border-right: 8px solid white;
  
  border-top: 8px solid transparent;
}

.triangle-left{
	width: 0; 
	height: 0; 
	border-top: 8px solid white;
	border-bottom: 8px solid white;
	
	border-right: 8px solid transparent;
}

.triangle-right{
	width: 0; 
	height: 0; 
	border-top: 8px solid white;
	border-bottom: 8px solid white;
	
	border-left: 8px solid transparent;
}






.line1-0{
	width: 4px;
	height: 8%;

	position: absolute;
	left: 37%;
	top: 15%;

	display: flex;
	justify-content: center;
}

.triangle1{
	position: absolute;
	top: 100%;
}





.line2-0{
	width: 4px;
	height: 8%;

	position: absolute;
	left: 43%;
	top: calc(15% + 8px);

	display: flex;
	justify-content: center;
}

.triangle2{
	position: absolute;
	bottom: 100%;
}





.line3-0{
	width: 19.7%;
	height: 4px;

	position: absolute;
	left: 46.4%;
	top: calc(11.5% - 2px);

	display: flex;
	justify-content: center;
}

.line3-1{
	width: 4px;
	height: 27%;

	position: absolute;
	left: calc(66% - 2px);
	top: calc(11.5% - 2px);

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle3{
	position: absolute;
	top: 100%;
	/* left: calc(63% - 8px) */
}





.line4-0{
	width: 4px;
	height: 26%;

	position: absolute;
	left: calc(60% - 2px);
	top: calc(13.5% - 2px)
}

.line4-1{
	width: 13.1%;
	height: 4px;

	position: absolute;
	left: 47%;
	top: calc(13.5% - 2px);

	display: flex;
	align-items: center;
	justify-content: center;
}

.triangle4{
	position: absolute;
	right: 100%;
	/* top: calc(13.5% - 6px); */
}





.line5-0{
	width: 13.1%;
	height: 4px;

	position: absolute;
	left: 20%;
	top: calc(27.5% - 2px);

	display: flex;
	justify-content: center;
}

.line5-1{
	width: 4px;
	height: 11%;

	position: absolute;
	left: calc(20% - 2px);
	top: calc(27.5% - 2px);

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle5{
	position: absolute;
	top: 100%;
}





.line6-0{
	height: 4px;
	width: 13.5%;

	position: absolute;
	top: 41.5%;
	left: 23.5%;

	display: flex;
	justify-content: center;
}

.line6-1{
	width: 4px;
	height: 10%;

	position: absolute;
	left: 37%;
	top: 32%;

	display: flex;
	align-content: center;
	justify-content: center;
}

.triangle6{
	position: absolute;
	bottom: 100%;
}





.line7-0{
	width: 4px;
	height: 10%;

	position: absolute;
	left: 43%;
	top: 32%;

	display: flex;
	align-content: center;
	justify-content: center;
}

.line7-1{
	height: 4px;
	width: 12.5%;

	position: absolute;
	top: 41.5%;
	left: 43%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle7{
	position: absolute;
	left: 100%;
}





.line8-0{
	height: 4px;
	width: 32.5%;

	position: absolute;
	top: 43.5%;
	left: 23.5%;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle8{
	position: absolute;
	left: 0;
}



.line9-0{
	width: 4px;
	height: calc(11.5% - 2px);

	position: absolute;
	left: calc(20% - 2px);
	top: 45%;
}

.line9-1{
	width: 13%;
	height: 4px;

	position: absolute;
	left: calc(20% - 2px);
	top: calc(56.5% - 2px);

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle9{
	position: absolute;
	left: 100%;
}



.line10-0{
	width: 4px;
	height: 23%;
	
	position: absolute;
	left: 14%;
	top: 45%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle10{
	position: absolute;
	top: 100%;
}



.line11-0{
	width: 4px;
	height: 12.8%;

	position: absolute;
	left: 63%;
	top: 45%;
}

.line11-1{
	width: 16.5%;
	height: 4px;

	position: absolute;
	left: 46.5%;
	top: calc(57.5% - 2px);

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle11{
	position: absolute;
	left: 0%;
}



.line12-0{
	width: 4px;
	height: 4%;

	position: absolute;
	left: 37%;
	top: 60%;
}

.line12-1{
	width: calc(17% + 4px);
	height: 4px;

	position: absolute;
	left: 20%;
	top: 64%;

	display: flex;
	justify-content: center;
}

.line12-2{
	width: 4px;
	height: 4%;

	position: absolute;
	left: 20%;
	top: 64%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.triangle12{
	position: absolute;
	top: 100%;
}



.line13-0{
	width: 4px;
	height: 4%;

	position: absolute;
	left: 43%;
	top: 60%;
}

.line13-1{
	width: calc(20% + 4px);
	height: 4px;

	position: absolute;
	left: 43%; /*somar/subtrair 4px*/
	top: 64%;

	display: flex;
	justify-content: center;
}

.line13-2{
	width: 4px;
	height: 4%;

	position: absolute;
	left: 63%;
	top: 64%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.triangle13{
	position: absolute;
	top: 100%;
}



.line14-0{
	width: 9%;
	height: 4px;

	position: absolute;
	left: 23.5%;
	top: 71.5%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle14{
	position: absolute;
	left: 100%;
}



.line15-0{
	width: 5%;
	height: 4px;

	position: absolute;
	left: 23.5%;
	top: 73.5%;

	display: flex;
	justify-content: center;
}

.line15-1{
	width: 4px;
	height: calc(13% + 4px);

	position: absolute;
	left: calc(28.5% - 2px);
	top: 73.5%;
}

.line15-2{
	width: 4%;
	height: 4px;

	position: absolute;
	left: 28.5%;
	top: 86.5%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle15{
	position: absolute;
	left: 100%;
}



.line16-0{
	width: 4px;
	height: 8%;

	position: absolute;
	left: calc(17% - 2px);
	top: 75%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle16{
	position: absolute;
	top: 100%;
}



.line17-0{
	width: 9%;
	height: 4px;

	position: absolute;
	left: 23.5%;
	top: 88.5%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle17{
	position: absolute;
	left: 100%;
}



.line18-0{
	width: 4px;
	height: 8%;

	position: absolute;
	left: calc(40% - 2px);
	top: 75%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle18{
	position: absolute;
	top: 100%
}



.line19-0{
	width: 4px;
	height: 5%;

	position: absolute;
	left: calc(40% - 2px);
	top: 90%;

	display: flex;
	justify-content: center;
	align-content: center;
}



.line20-0{
	width: 4px;
	height: 8%;

	position: absolute;
	left: calc(63% - 2px);
	top: 75%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle20{
	position: absolute;
	top: 100%;
}



.line21-0{
	width: 4px;
	height: 5%;

	position: absolute;
	left: calc(63% - 2px);
	top: 90%;

	display: flex;
	justify-content: center;
	align-content: center;
}


.line-end-00{
	width: calc(23% + 2px);
	height: 4px;

	position: absolute;
	left: 40%;
	top: 95%;
}

.line-end-0{
	/* width: calc(57% + 2px); */
	width: calc(34% + 2px);
	height: 4px;

	position: absolute;
	left: 6%;
	top: 95%;
}

.line-end-1{
	width: 4px;
	height: 90%;

	position: absolute;
	left: 6%;
	top: 5%;
}

.line-end-2{
	width: 34%;
	height: 4px;
	 
	position: absolute;
	left: 6%;
	top: 5%;
}

.line-end-3{
	width: 4px;
	height: 3%;

	position: absolute;
	left: calc(40% - 2px);
	top: 5%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.triangle-end{
	position: absolute;
	top: 100%;
}