.line1-color  {	background-color: black; }
.line2-color  {	background-color: black; }
.line3-color  {	background-color: black; }
.line4-color  {	background-color: black; }
.line5-color  {	background-color: black; }
.line6-color  {	background-color: black; }
.line7-color  {	background-color: black; }
.line8-color  {	background-color: black; }
.line9-color  {	background-color: black; }
.line10-color { background-color: black; }
.line11-color { background-color: black; }
.line12-color { background-color: black; }
.line13-color { background-color: black; }
.line14-color { background-color: black; }
.line15-color { background-color: black; }
.line16-color { background-color: black; }
.line17-color { background-color: black; }
.line18-color { background-color: black; }
.line19-color { background-color: black; }
.line20-color { background-color: black; }
.line21-color { background-color: black; }
.end-color    {	background-color: black; }