* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body{
	width: 100%;
	height: 100%;
}

body{
	display: flex;
	flex-direction: row;
}

.content{
	width: 80%;
	height: 100%;
}

.content .border{
	width: 100%;
	height: 5%;
}

.content .row{
	width: 100%;
	height: 15%;

	display: flex;

	justify-content: space-evenly;
	align-items: center;
}

.content .row .state{
	width: 15%;
	height: 30%;

	border-radius: 20px;

	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: grey;
}

.content .row .hidden{
	background-color: white;
}







.commands{
	width: 20%;
	height: 100%;

	background-color: wheat;

	display: flex;
	flex-direction: column;
}

.commands .header{
	width: 100%;
	height: 5%;

	display: flex;
	justify-content: center;
	font-size: 22px;

	margin-top: 2%;
}

.commands .command-box{
	width: 100%;
	height: 50%;

	display: flex;
	flex-direction: column;
}

.commands .command-box .row{
	height: 20%;
	width: 100%;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.commands .command-box .row button{
	width: 40%;
	height: 35%;
	
	border-radius: 30px;
}

.commands .btn-run{
	width: 100%;
	height: 13%;

	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.commands .btn-run button{
	width: 40%;
	height: 35%;
	
	border-radius: 30px;

	margin-bottom: 4%;
}

.commands .pending-commands{
	width: 100%;
	height: 33%;

	background-color: cornsilk;

	display: flex;
	flex-direction: column;

	overflow-x: hidden;
	overflow-y: scroll;

	
	/* align-items: center; */
	/* justify-content: center; */
}

.commands .pending-commands span{
	margin: 2%;
}